.button  {
  color: white;
  background-color: steelblue;
  border: 1px solid gray;
  padding: 0.2em;
  border-radius: 5px;
  transition: 0.1s all ease;
  font-size: 1em;
}

.button:hover  {
  cursor: pointer;
}

.button:active  {
  color: steelblue;
  background-color: white;
}

.close {
  font-size: 0.8em;
}

.forward, .backward {
  position: absolute;
  bottom: 0;
}

.forward {
  right: 0;
}
